<%= form_for @recipe do |recipe_form| %>
  <%= recipe_form.hidden_field :owner_id, value: current_user.id %>
  <p>
    <%= recipe_form.label "Name: " %>
    <%= recipe_form.text_field :name %>
  </p>

  <p>
    <%= recipe_form.label "Recipe Category: " %>
    <%= recipe_form.collection_select :category_id, Category.all, :id, :name %>
  </p>

  <h3>Ingredients</h3>
  <%= recipe_form.fields_for :recipe_ingredients, @recipe.recipe_ingredients do |ri_builder| %>
    <%= ri_builder.label "Enter Ingredient Name: " %>
    <%= ri_builder.text_field :ingredient_name %>
    <%= ri_builder.label "Enter Quantity: " %>
    <%= ri_builder.text_field :quantity %><br><br>
  <% end %>

  <h3>Instructions</h3>
  <% @num_steps.times do |i| %>
    <input type="text" name=<%="step_#{i}"%> ><br><br>
  <% end %>

  <p>
    <%= recipe_form.submit %>
  </p>
<% end %>