<h2><%= @recipe.name %></h2>
<h4><%= "Submitted by: #{@owner.first_name} #{@owner.last_name}" %></h4>
<h4><%= "Category: #{@category.name}" %>
<h4><%= "Saved #{@recipe.num_saves} times" %></h4>
<% if current_user && current_user.saved_recipes.include?(@recipe) %>
  Saved to your Recipe Box
<% end %>

<h3>Ingredients</h3>
<ul>
  <% @ingredients.each do |ingr| %>
    <li><%= "#{ingr.quantity} of #{ingr.ingredient.name}" %></li> 
  <% end %>
</ul>

<h3>Steps</h3>
<ol>
  <% @steps.each do |step| %>
    <li><%= "#{step.content}" %></li> 
  <% end %>
</ol>

<% if user_signed_in? %>
  <% if !current_user.saved_recipes.include?(@recipe) %>
    <%= form_tag saved_recipes_path do %>
      <%= hidden_field_tag("recipe_id", @recipe.id) %>
      <%= hidden_field_tag("user_id", current_user.id) %>
      <%= submit_tag "Save to my Recipe Box" %>
    <% end %>
  <% end %>

  <% if current_user.saved_recipes.include?(@recipe) %>
    <%= form_tag user_recipes_destroy_path, method: "delete" do %>
      <%= hidden_field_tag("recipe_id", @recipe.id) %>
      <%= hidden_field_tag("user_id", current_user.id) %>
      <%= submit_tag "Delete from my Recipe Box" %>
    <% end %>
  <% end %>
  <br>

  <% if current_user.id == @recipe.owner_id %>
    <%= form_tag recipe_edit_path(@recipe), method: "get" do %>
      <%= submit_tag "Edit Recipe" %>
    <% end %>
  <% end %>
  <br>

  <% if current_user.id == @recipe.owner_id %>
    <%= form_tag recipes_destroy_path, method: "delete" do %>
      <%= submit_tag "Delete Recipe" %>
    <% end %>
  <% end %>
<% end %>


