<!DOCTYPE html>
<html>
  <head>
    <title>WhatsForDinnerWithDevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h2>Hi, <%= user_signed_in? ? current_user.email.upcase : "Guest" %>!</h2>
    <div class="nav">
      <% if user_signed_in? %>
        <%= link_to "Your Saved Recipes", user_recipes_path %>
        <%= link_to "Recipe Index", recipes_path %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <%= link_to "Create a Recipe", recipes_new_path %>
      <% else %>
        <%= link_to "Recipe Index", recipes_path %>
        <%= link_to "Log In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
      

      
    </div>
    <%= yield %>
  </body>
</html>
